
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(215, 217, 223);
    size: 100%;
}
.topnav a {
    float: left;
    color: #3650e7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
  }
  
.topnav a:hover {
    background-color:#97bef8;
    color: white;
  }
  
  .topnav a.active {
    background-color:#3650e7;
    color: white;
  }

#myphoto {
    margin-top: 100px;
    margin-right: 200px;
    height:450px;
    width:350px;
    border-radius: 100%;
    float:right;
    display:block;
    }
.content{
    max-width:60%;
    min-width:200px;
    text-align: center;
    padding-top: 150px;
    padding-right: 250px;
    padding-bottom: 50px;
    padding-left: 0px;
        
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
    }
    
    .textstyle {
        margin: 50px 400px 50px 400px;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        font-size: larger;
    }

    body {
        background-color: rgb(229, 233, 245);
    }
    h1 {
        text-align: center;
        margin: 5px 50px auto 50px;
        padding: 20px 30px 20px 30px;
        border-radius: 20px;

    }
    .textstyle {
        padding: 20px 30px 20px 30px;
        margin: 50px 350px 50px 350px;
        font-family: 'Times New Roman', Times, serif;
        text-align:justify;
        font-size: larger;
        background-color: rgb(171, 193, 235);
        border-radius: 10px;
    }
    .picture-style { 
        width: 500px;
        

}
.bloglist a{
    color: #3650e7;
    text-align: center;
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    font-size: 30px;
    border: solid ;
    border-color: rgb(38, 38, 192);
    border-radius: 20px;
    background-color: #b1cdf7;
    display: inline-block;
    box-shadow:5px 5px rgb(7, 13, 109);
  }